{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
<h4 class="titre">inscription</h4>
<div class="form">
{{ form(form) }}
{{ form_errors(form) }}
</div>
{% endblock %}