
version: '3.8'

services:

  app:
    build: .
    container_name: symfony_app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    
    depends_on:
      - db
  db:
    image: mysql:8.0
    container_name: symfony_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: cHampiondEv85
      MYSQL_DATABASE: multi
      MYSQL_USER: jeAn-phI
      MYSQL_PASSWORD: J25061984c%#

    volumes:
      - db_data:/var/lib/mysql
      
    ports:
      - 3307:3306

volumes:
  db_data:
   driver: local