{% extends 'base.html.twig' %}

{% block title "categories:" ~ slug %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1> Catégories</h1>

   {{  slug  }}
   
</div>

<div class="example-wrapper">
    <h1>services</h1>
    
    <ul>
        {% for categorie in categories %}
        <li>
           <a href="{{ path('detail.show', { slug: categorie.titre, id: categorie.id }) }}">{{ categorie.titre }}</a>
        </li>
      
        {% endfor %}
</div>
{% endblock %}