{% extends 'base.html.twig' %}

{% block title "categories:" ~ slug %}

{% block body %}
<style>
    
</style>

<div class="titre">
   {{  slug  }}
   
</div>

<div class="example-wrapper" >
    
    <ul>
        {% for categorie in categories %}
        <li class="liste">
           <a href="{{ path('detail.show', { slug: categorie.titre, id: categorie.id }) }}">{{ categorie.titre }}</a> 
        </li>
      
        {% endfor %}
       
</div>   
{% endblock %}