{% extends 'base.html.twig' %}

{% block title "categories:" ~ slug %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1> Catégories</h1>

   {{  slug  }}
   
</div>
{% endblock %}