{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}
<style>
   
</style>

<div class="bg-red-500">
    <h1>Services</h1>

   
    <ul>
        {% for service in services %}
       <li class="presta">
         <a href="{{ path('service.show', { slug: service.titre, id: service.id }) }}">{{ service.titre }}</a>
        </li>
        {% endfor %}
    </ul>
    <canvas width="500px" height="500px"></canvas>
</div>
{% endblock %}
