{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}
<style>
   
</style>
<div >
    <h5 class="titre">service</h5>
</div>
<div  >
    <ul>
        {% for service in services %}
       <li class="liste">
         <a href="{{ path('service.show', { slug: service.titre, id: service.id }) }}">{{ service.titre }}</a>
        </li>
        {% endfor %}
    </ul>
   
</div>
{% endblock %}
