{% extends 'base.html.twig' %}

{% block title %}h4Contactez-nous{% endblock %}

{% block body %}
    <h4 class="titre">Contactez-nous</h4>
    <div class="form">
    {{  form_start(form) }}
    {{ form_errors(form) }}
    
    {{ form_end(form) }}
    
 
 </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}